.w{
    width: 1200px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #000;
}

.header{
    height: 84px;
    border-bottom: 2px solid red;
}
.header img{
    padding-top: 18px;
    width: 120px;
    height: 70px; 
}


.registerarea{
    height: 522px;
    border: 1px solid;
    margin-top: 20px;
    line-height: 42px;
}
.registerarea h3{
    padding: 0 10px;
    height: 42px;
    border-bottom: 1px solid red;
    background-color: rgb(184, 184, 184);
    font-size: 18px;
    font-weight: 400;

}
.registerarea .login{
    float: right;
    font-size: 14px;

}
.registerarea a{
    color: red;
    text-decoration: none;
}
.reg_form{
    width: 600px;
    margin: 50px auto;
    /* background-color: pink; */
   
}
.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul  {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.reg_form ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
    margin-right: 5px;
}
.reg_form .inp{
    width: 242px;
    height: 37px;
    border: 1px solid;
}
.reg_form ul li .error{
    color: red;
    display: none;
    position: absolute;
    
}
.erroe_icon,
.success_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(https://picsum.photos/30/30/?gravity=east);
    vertical-align: middle;
    margin-top: -2px;
}
.success{
    color: green;
     /* display: none; */
    position: absolute;
}

.success_icon{
   
    background: url(https://picsum.photos/30/31/?gravity=east);
  
}
.safe em{
    padding: 0 12px;
    color: white;
    background-color: pink;
}
.safe .stor{
    background-color: green;
}

.safe .mid{
    background-color: rgba(255, 255, 0, 0.733);

}
.safe .wik{
    background-color: red;

}
.safe{
    padding-left: 140px;
}
.agree input{
    vertical-align: middle;
    
}

.agree {
    padding-left: 95px;
}
.agree a{
    color: blue;
}
.btn{
    width: 200px;
    height: 34px;
    background-color: red;
    color: white;
    margin: 0 0 0 100px;
}

.btn:hover{
    background-color: #000;

}


.mod_help{
    height: 185px;
    border: 1px solid;
    padding-top: 20px;
    padding-left: 50px;
    display: flex;
    /* float: left; */
    
}
.mod_help dl dt{
    font-size: 16px;
    margin-bottom: 10px;
}
.mod_help dl dd{
    font-size: 14px;
    margin-bottom: 5px;

}
.mod_help dl {
    /* float: left; */
    width: 200px;
}

.mod_copyright{
    text-align: center;
    padding-top: 20px;
}